<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>6ixty7even</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>

    <header>
      <div class="header-left">
        <i class="fa-solid fa-bars"></i>
       <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
        <h1>SIX7EVEN</h1>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Search for products...">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <div class="header-right">
        <i class="fa-solid fa-user"></i>
        <i class="fa-solid fa-shopping-cart"></i>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-robot"></i>
      </div>

    </header>

    <main class="login-wrapper">
        <h2 class="login-title">Log In</h2>
        <div class="login-container">
            <section class="form-section">
                <form>
                    <label for="admin-email">Admin Email</label>
                    <input type="email" id="admin-email" name="admin-email" placeholder="Enter your email address">

                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password">

                    <button type="submit" class="login-button">Login</button>



                    <p class="signup-text">
                        Don't have an account? <a href="{{ url_for('customer_signup') }}"> Sign Up</a>
                    </p>
                </form>
            </section>

        </div>
    </main>