<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>6ixty7even</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="../style.css">
</head>
<body>

    <header>
      <div class="header-left">
        <i class="fa-solid fa-bars"></i>
        <img src="images/logo.png" alt="6ixty7even Logo" class="logo">
        <h1>6ixty7even</h1>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Search for products...">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <div class="header-right">
        <i class="fa-solid fa-user"></i>
        <i class="fa-solid fa-shopping-cart"></i>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-robot"></i>
      </div>

    </header>

    <main class="Checkout">
        <h2 class="checkout-title">Checkout</h2>
        <div class="checkout-container">
           
            </section>

        </div>
    </main>

    